Delegated-Scopes-Manager

Internet Engineering Task Force (IETF) S. Dickinson
Request for Comments: 8310 Sinodun
Updates: 7858 D. Gillmor
Category: Standards Track ACLU
ISSN: 2070-1721 T. Reddy
 McAfee
 March 2018
 Usage Profiles for DNS over TLS and DNS over DTLS
Abstract
 This document discusses usage profiles, based on one or more
 authentication mechanisms, which can be used for DNS over Transport
 Layer Security (TLS) or Datagram TLS (DTLS). These profiles can
 increase the privacy of DNS transactions compared to using only
 cleartext DNS. This document also specifies new authentication
 mechanisms -- it describes several ways that a DNS client can use an
 authentication domain name to authenticate a (D)TLS connection to a
 DNS server. Additionally, it defines (D)TLS protocol profiles for
 DNS clients and servers implementing DNS over (D)TLS. This document
 updates RFC 7858.
Status of This Memo
 This is an Internet Standards Track document.
 This document is a product of the Internet Engineering Task Force
 (IETF). It represents the consensus of the IETF community. It has
 received public review and has been approved for publication by the
 Internet Engineering Steering Group (IESG). Further information on
 Internet Standards is available in Section 2 of RFC 7841.
 Information about the current status of this document, any errata,
 and how to provide feedback on it may be obtained at
 https://www.rfc-editor.org/info/rfc8310.
Dickinson, et al. Standards Track [Page 1]https://git-scm.com/docs/git-init
git-init Documentation - Git
https://hub.packtpub.com/github-introduces-template-repository-for-easy-boilerplate-code-management-and-distribution/amp/
GitHub introduces 'Template repository' for easy boilerplate ...
https://github.blog/2019-06-06-generate-new-repositories-with-repository-templates/
Generate new repositories with repository templates - The ...
https://dev.to/dechamp/using-git-to-create-a-template-project-for-repeated-use-5b3d
Using git to create a template project for repeated use - DEV ...
https://help.github.com/en/github/creating-cloning-and-archiving-repositories/creating-a-template-repository
Creating a template repository - GitHub Help
https://goo.gl/search/What+is+created+new+template+for+git
Git Template: Home Git Template is a replacement for the default directory that gets copied each time you create or clone a git repository. That's right, every time you create or clone a git repository, some files get copied in your . git directory. These files mostly consist of example hooks you may change and adapt to meet your needs.
https://docs.gitlab.com/ee/user/project/description_templates.html
Description templates | GitLab
https://thoughtbot.com/blog/better-commit-messages-with-a-gitmessage-template
Better Commit Messages with a .gitmessage Template
https://www.atlassian.com/git/tutorials/setting-up-a-repository/git-init
git init | Atlassian Git Tutorial

Create new repository pull request Master/README.md-edits including branch/tags  @`Dranizar7557/[Delegated-Scopes-Manager](https://svn/wikipedia.org/code/svn)` 

Commit pull request Dranizar7557/hello world/Delegated-Scopes-Manager/README.md-edits

@dranizar7557 

> @dranizar7557

Delegated-Scopes-Manager